@import "variables.scss";
.color-purple {
    color: $color-purple;
}
.color-blue {
    color: $color-blue;
}
.color-red {
    color: $color-red;
}
.color-orange {
    color: $color-orange;
}
.color-green {
    color: $color-green;
}