$font-size-menu: 1.15em;

$color-menu-link: #4D4F53;
$color-divider: whitesmoke;
$color-primary: #004B85;
$color-white: #fff;
$color-header:#1c1a1a;
$color-purple: #80397b;
$color-blue: #01A9DB;
$color-red: #fb7070;
$color-orange: #FE9A2E;
$color-green: #62ac6f;